extends layout
block content
  div.container
    div.row
      div.col-xs-12
        div.product-header
          div.product-image
            img(src=book.image)
          div.product-body
            h1 #{ book.titre }
            span #{ book.auteur }
            span #{ book.pages }
            span #{ book.date_de_creation }
          div.product-created
            span #{ book.annee_de_publication }
        div.product-controls-wrapper
          ul.product-controls.list-inline.pull-left
            li
              a.btn.btn-default(href=`/simplonBook/books/edit/${book.id}`)
                i.fa.fa-pencil
                span EDIT
            li
              a.btn.btn-default(href=`/simplonBook/books/delete/${book.id}`)
                i.fa.fa-trash
                span DELETE

    
